:local(.idea) {
  padding: 4px;
  box-shadow: 0 0 2px lightgrey;
  display: flex;
  flex-direction: column;
  flex-flow: column;
}

:local(.field) {
  outline: none;
  border: 2px solid transparent;
  padding: 4px;
  width: 100%;
}

:local(.field):focus {
  border-color: lightgrey;
}

input:local(.field) {
  margin-right: 4px;
}

textarea:local(.field) {
  flex: 1;
  resize: none;
}

:local(.header) {
  display: flex;
  margin-bottom: 4px;
}

:local(.delete) {
  transition: opacity 0.16s;
  cursor: pointer;
  opacity: 0;
  outline: none;
  appearance: none;
  border: none;
  color: grey;
  font-size: 1em;
}

:local(.idea):hover :local(.delete) {
  opacity: 1;
}